<div>
  <h2>Users List</h2>
  <form (submit)="clickSearch()" class="form-inline md-form ml-auto mb-8">
    <input class="form-control ml-sm-2" [formControl]="searchQuery" type="text" style="margin-left: 69% !important;" placeholder="Search" aria-label="Search">
    <button mdbBtn size="sm" color="warning" outline="true" rounded="true" class="btn btn-info"
    type="submit">Search</button>
  </form> 
  <br/>
  <br/>
  <div class="row" *ngIf="!users.length">
    <div class="col">
        <div class="alert alert-danger">
            <strong>Oops!</strong> It seems like desert here.
        </div>
    </div>
  </div>
  <table *ngIf="users.length">
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Status</th>
    </tr>
    <tr class="user-button" *ngFor="let user of users | paginate: { itemsPerPage: limit, currentPage: p, totalItems: pageCount }" [routerLink]="['/profile/', user.id]">
      <td>{{user.email}}</td>
      <td>{{user.name.substring(0, user.name.indexOf(' ')) + " " + user.name.substring(user.name.indexOf(' ') + 1, user.name.length)}}</td>
      <td><span>{{user.status}} </span><span class="online-dot" *ngIf="user.status == 'online'"> •</span><span class="offline-dot" *ngIf="user.status == 'offline'"> •</span></td>
    </tr>
  </table>
  <br/>
  <pagination-controls *ngIf="pageCount" (pageChange)="pageChanged($event)"></pagination-controls>
  <br/>
  <button type="button" (click)="logout()" class="btn btn-dark">Logout</button>
</div>